.marginType {
  margin-bottom: 5px;
  margin-top: 5px;
}

.buttonContent {
  margin-top: 20px;
}

.formItem {
  margin-bottom: 10px;
}

.infoInput {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 13px;
}